.mainGrid{
    /* border: 1px solid black; */
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
}

/* .mainGrid > div{
    border: 1px solid blueviolet;
} */

.routesContainer{
    padding: 2rem;
}