.header__nav{
    height: 60px;
    display: flex;
    align-items: flex-end;
    background-color: mediumturquoise;
    position:sticky;
    z-index: 100;
    padding-left: 75%;
}

.header__username{
    display: flex;
    padding-left: 30px;
    padding-bottom: 15px;
    justify-content: space-evenly;
    font-size: 25px;
}

.header__alerts, .header__settings{
    padding-bottom: 7px;
    padding-left: 30px;

}

.header__settings_logo, .header__alerts_logo{
    width: 40px;
    
}