.container {
    display: grid; 
    padding-top: 0.5rem;
    padding-bottom: 2.5rem; 
    place-items: center; 
}

.table {
    /* //max-width: fit-content; */
    min-height: 100vh; 
    min-width: 90%;
}

.table.active {
    max-width: calc(100% - 200px);
}
